
html{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,9,121,1) 51%, rgba(0,212,255,1) 100%);
}
body{
    margin-right: 19%;
    margin-left: 19%;
    top: 0;
    height: 100%;
    position: absolute;
    background-color: white;
}

.outer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    justify-content: space-between;
    width: 10rem;
}
.item_container{
    width: 10rem;
    height: 10rem;
    padding-right: 6rem;
    padding-bottom: 7rem;
}

.count{
    display: flex;
    justify-content: flex-end;
    width:1rem;
    gap:0.3rem
}

button:hover{
    cursor: pointer;
}

.fa-heart:hover{
    cursor: pointer;
    color: green;
}

.fa-trash:hover{
    cursor:pointer;
    color: red;
}


.actions{
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

.price{
    display: flex;justify-content: center;
}

nav h1{
    text-align: center;
    vertical-align:middle;
    height: 8rem;
    font-size: 28px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  .apply-shake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }